.button-style {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  
    border: none;
    border-radius: 5px;
  
    background-color: rgb(35, 79, 77);
    color: rgb(85, 194, 189);
  
    cursor: pointer;
  }

  .button-container {
    display: flex;
    justify-content: center;

    padding: 2rem;
  }
