.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
}

.button {
    padding: 1.5rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
  
    border: none;
    border-radius: 5px;
  
    background-color: rgb(35, 79, 77);
    color: rgb(85, 194, 189);
  
    cursor: pointer;
  }

  .input {
    width: 100%;
    resize: none;
    font-size: 1.5rem;
  }

  .label {
    font-size: 1.5rem;
  }