.navbar-style {
    height: 100px;
    padding: 0 2rem;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    color: wheat;
    background-color: rgb(69, 156, 152);
  }
  
  .navbar-logo {
    font-size: 4rem;
    font-weight: 600;
  }
  
  .navbar-link-container {
    display: flex;
    align-self: flex-end;
    gap: 3rem;
    padding-bottom: 1rem;
  }
  
  .navbar-link-style {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 600;
  
    border: none;
    border-radius: 5px;
  
    color: rgb(85, 194, 189);
    background-color: rgb(246, 240, 190);
  
    text-decoration: none;
    cursor: pointer;
  }

  .link-active {
    text-decoration: underline;
  }