* {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

.layout-style {
  padding: 0.5rem;
  height: 100vh;
  background-color: rgb(247, 248, 243);
}

.navbar-style {
  height: 100px;
  padding: 0 2rem;

  display: flex;
  justify-content: space-between;
  align-items: center;

  color: wheat;
  background-color: rgb(69, 156, 152);
}

.navbar-logo {
  font-size: 4rem;
  font-weight: 600;
}

.navbar-button-container {
  display: flex;
  align-self: flex-end;
  gap: 3rem;
  padding-bottom: 1rem;
}

.navbar-button-style,
.button-style {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;

  border: none;
  border-radius: 5px;

  color: rgb(85, 194, 189);
  background-color: rgb(246, 240, 190);

  cursor: pointer;
}

.home-page-container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  align-items: center;
}

.topic-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding-top: 3rem;
}

.topic-title {
  font-size: 4rem;
  color: rgb(35, 79, 77);
}

.topic-text {
  font-size: 2rem;
  padding: 0 10rem;
  text-align: center;
}

.hidden {
  display: none;
}

.button-style {
  background-color: rgb(35, 79, 77);
  padding: 1.5rem 2.5rem;
}
